<section class="section section-light-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">Please RSVP below</h2>
      <h3 class="subtitle is-5 is-muted">We'll e-mail you if there are any updates or changes</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form name="rsvp" action="https://usebasin.com/f/c16d4a7b2b40"
           method="POST" enctype="multipart/form-data" id="form">
            <div class="columns is-multiline">
              <div class="column is-6">
                <input class="input is-medium" name="parentName" id="parentName" type="text" placeholder="Enter your full name" required>
              </div>
              <div class="column is-6">
                <input class="input is-medium" name="childName" id="childName" type="text" placeholder="Enter your child's name" required>
              </div>
              <div class="column is-6">
                <input class="input is-medium" name="email" id="email" type="email" placeholder="Enter your email address" required>
              </div>
              <div class="column is-6">
                <input class="input is-medium" name="phone" id="phone" type="tel" placeholder="Enter your phone">
              </div>
              <div class="column is-12">
                <textarea class="textarea" rows="10" name="otherDetails" id="otherDetails" placeholder="Please let us know any other details or dietary requirements we should be aware of here as well"></textarea>
              </div>
              <div class="column is-12">
                <input aria-required="true" id="waiverCheck" value="Yes" class="form-check-input" type="checkbox" name="iHaveSignedTheWaiver" ref="input" aria-invalid="false" onchange="this.setCustomValidity(validity.valueMissing ? 'Please sign the waiver before submitting' : '');" required>
                <span>I have signed the waiver</span>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear" type="submit">RSVP Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

  document.getElementById("waiverCheck").setCustomValidity("Please sign the waiver before submitting");

</script>